body{
    background-color:white;
}

#info{
    font-size: 1.2em;
}
.footer{
    background-color: aliceblue;
}
#my-slider{
    align-content: center;
    margin-inline: auto;
    width: 80%;
    padding-bottom: 25px;
    padding-top: 25px;
}
