#hero{
    height: 100vh;
    background-color: #132743;
}

#resources{
    height: 100vh;
    background-color: #fcfefe;
}

#footer{
    background-color: #fcfefe;
}

.bi-file-earmark-pdf{
    font-size: 45px;
    color: red;
}

.card{
    background-color: #ececec;
}



