body{
   background-color: #fcfefe;
}

#hero{
    height: 100vh;
    background-color: #132743;
}


#footer{
    background-color: #fcfefe;
}

.bi-file-earmark-pdf{
    font-size: 45px;
    color: red;
}

.card{
    background-color: #ececec;
}

.footer{
    background-color: aliceblue;
}
