body{
   background-color: #fcfefe;
}

#hero{
    height: 100vh;
    background-color: #834655;
}


.bi-file-earmark-pdf{
    font-size: 45px;
    color: red;
}

.card{
    background-color: #ececec;
}

.footer{
    background-color: #fcfefe;
}
